@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('./fonts/Lato/Lato-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('./fonts/Lato/Lato-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./fonts/Lato/Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('./fonts/Lato/Lato-Hairline.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('./fonts/Lato/Lato-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('./fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('./fonts/Lato/Lato-HairlineItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('./fonts/Lato/Lato-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('./fonts/Lato/Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}



.container {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    width: 1600px;
    height: 75px;
    flex-shrink: 0;
    background-color: #222;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding-top: 18px;
    padding-bottom: 19px;
}

.search-button {
    padding-left: 41px;
    padding-top: 28px;
    padding-bottom: 20px;
}

.menu {
    padding-left: 860px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-search-container {
    display: flex;
    align-items: center;
    gap: 41px;
}

.reactangle {
    width: 1600px;

}

.top-content {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    max-height: 800px;

}



.menu::before {
    content: "5";
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #F16D7F;
    position: relative;
    top: -15px;
    left: 190px;
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-content {
    width: 377px;
    height: 93px;
    padding-left: 16px;
    display: grid;
    justify-content: start;
}

.vertical-line {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background-color: #F16D7F;
}


.brand-content h4 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.brand-content h5 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.offer-content {
    width: 1600px;
    padding-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.reactangle-img-offer {
    position: relative;
}

.filter-reactangle {
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.70);
    position: absolute;
    top: 0;
    left: 0;
}

.filter-react-4 {
    width: 1140px;
    height: 180px;
    background: rgba(33, 22, 22, 0.70);
    position: absolute;
    top: 0;
    left: 0;
}


h6 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h7 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards__container {
    width: 1140px;
    display: flex;


}



/* CSS */

.cards__item {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;

}

.item-img {
    width: 360px;
    height: 420px;
    margin-bottom: 25px;
}

.item-img:hover .item-img__hover {
    display: flex;
}

.item-img__hover {
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.item-img__hover-btn {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 1px solid #ffffff;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    gap: 11px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.item-img__hover-btn::before {
    content: url(img/btn-cart.svg);
    width: 26px;
    height: 24px;
}

.item-description {
    display: flex;
    flex-direction: column;
    margin: 0 0 19px 16px;
}

.item-title {
    font-family: 'Lato-Light';
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 16px;
}

.item-text {
    font-weight: 300;
    font-size: 14px;
    font-family: Lato-Light;
    line-height: 17px;
    color: #5d5d5d;
    margin-bottom: 16px;
    max-width: 314px;
}

.item-price {
    font-size: 16px;
    line-height: 19px;
    font-family: Lato-Regular;
    color: #f16d7f;
}

.product-container {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.product {
    width: 360px;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    background: #F8F8F8;
    position: relative;

}




.product h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}

.product p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 16px;
    padding-right: 16px;

}

.product span {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}

h2 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* width: 182px; */
    height: 36px;
    padding-top: 96px;
    padding-bottom: 6px;
}


.future-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 48px;
}

.future-container p {
    width: 336px;
    height: 17px;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.content-positon {
    width: 360px;
    height: 581px;

}

.card-list__container {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-list {
    align-content: center;
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.button-container {
    margin-top: 48px;
    margin-bottom: 94px;
    border: 1px;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border: 1px solid #FF6A6A;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-container p {
    width: 212px;
    height: 48px;
    font-size: 16px;
    color: #FF6A6A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-container {
    width: 1600px;
    height: 340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222224;

}


.aside_wrapper_container {
    width: 360px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.aside__wrapper h4 {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.aside__wrapper p {
    width: 300px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe-container {
    height: 450px;
    background-image: url(./img/photo\ subscribe.png);
    display: flex;
    justify-content: space-evenly;
}

.subsc_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.button_subscribe_wrapper {
    width: 560px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.button_subscribe_wrapper h3 {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
}

.button_subscribe_wrapper h4 {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.button-sub-container {
    width: 360px;
    height: 60px;
    display: flex;
    margin-top: 32px;
}

.subsc_wrapper p {
    width: 360px;
    height: 100px;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email_wrapper {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #E1E1E1;
    border-radius: 30px 0 0 30px;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.671;
    align-items: center;
    padding-left: 22px;
}


.subscribe_wrapper {
    display: flex;
    width: 100px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F16D7F;
    border-radius: 0 30px 30px 0;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.copyright {
    width: 1600px;
    height: 80px;
    background-color: #222224;
}

.copyright p {
    width: 330px;
    height: 20px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 235px;
}

.copyright-logo-wrapper {
    display: flex;
    gap: 7px;
    padding-left: 640px;
}

.footer_logo_container {
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
}

.product_add {
    width: 360px;
    height: 420px;
    position: relative;
}

.product_add:hover {
    content: #F16D7F;
    position: absolute;
    /* z-index: 1; */
}

.button-container:hover {
    transition: all .03s ease-in-out;
    background: #F16D7F;
    border: 1px solid #F16D7F;
}

.button-container p:hover {
    color: #FFFFFF;
}


.subscribe_wrapper:hover {
    background-color: #E05C6E;
}

.button-1-footer:hover {
    background-color: #F16D7F;
}

.footer_logo_container:hover path {
    fill: white;
}

.icon_hover:hover {
    transform: scale(1.2);
    transition: all .03s ease-in-out;
}

.button-1-footer {
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header-content {
        min-width: 768px;
        height: 74px;
    }

    .menu {
        padding-left: 320px;
    }

    .menu::before {
        left: 190px;
    }

    .table-img-size {
        inline-size: 386px;
    }

    .brand-content {
        width: 284px;
        height: 78px;
    }

    .brand-content h4 {
        font-size: 44px;
    }

    .brand-content h5 {
        font-size: 24px;

    }

    .vertical-line {
        height: 74px;
    }

    .padding-image {
        inline-size: 230px;
    }

    .filter-reactangle {
        width: 230px;
        height: 167px;
    }

    .padding-image-long {
        width: 734px;
    }

    .filter-react-4 {
        width: 734px;
        height: 116px;
    }

    .offer-content {
        gap: 20px;
    }

    h7 {
        font-size: 18px;
    }

    .product-container {
        width: 768px;
    }

    .card-list {
        align-content: center;
        width: 768px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        gap: 16px;
    }

    .card-list__container {
        gap: 16px;
    }

    .aside-container {
        height: 610px;
        flex-direction: column;
        justify-content: center;
    }

    .subscribe-container {
        height: 690px;
        justify-content: space-evenly;
        flex-direction: column;
        background-image: url(./img/photo\ subscribe\ \(1\).png);
    }

    .copyright p {
        width: 250px;
        padding-left: 32px;
    }

    .copyright-logo-wrapper {
        padding-left: 300px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 375px;
    }

    .header-content {
        width: 375px;
        height: 74px;
        justify-content: unset;
    }

    .logo {
        width: 44px;
        height: 38px;
        padding-top: unset;
        padding-bottom: unset;
        justify-content: unset;
        margin-left: 16px;

    }


    .menu {
        padding-left: 200px;
        width: unset;
        height: unset;
    }

    .menu::before {
        display: none;
    }

    .my-svg {
        display: none;

    }



    .table-img-size {
        display: none;
    }

    .top-content {
        max-width: 100%;
        height: 363px;

    }

    .brand-content {
        width: 236px;
        height: 66px;
    }

    .brand-content h4 {
        font-size: 38px;
    }

    .brand-content h5 {
        font-size: 20px;

    }

    .vertical-line {
        height: 61px;
        margin-left: 56px;
    }

    .padding-image {
        width: 343px;
        height: 247px;
    }

    .filter-reactangle {
        width: 343px;
        height: 247px;
    }

    .padding-image-long {
        width: 343px;
        height: 111px;
        object-fit: cover;
        object-position: center;
    }

    .filter-react-4 {
        width: 343px;
        height: 111px;
        object-fit: cover;
        object-position: center;
    }

    h6 {
        font-size: 16px;
    }

    h7 {
        font-size: 24px;
    }


    .card-list__container {
        gap: 15px;
    }

    .product-container {
        width: 375px;
        padding-top: 40px;
        padding-bottom: 64px;
    }

    h2 {
        padding-top: 64px;
        padding-bottom: 3px;
    }

    .future-container {
        padding-bottom: 65px;
    }

    .card-list {
        align-content: center;
        width: 375px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .card-prod-padding {
        padding-bottom: 16px;
    }


    .aside-container {
        height: 610px;
        flex-direction: column;
        justify-content: center;
    }

    .subscribe-container {
        height: 690px;
        justify-content: space-evenly;
        flex-direction: column;
        background-image: url(./img/photo\ subscribe\ \(1\).png);
    }

    .subsc_wrapper p {
        font-size: 18px;
    }

    .button_subscribe_wrapper {
        width: 375px;
    }

    .button_subscribe_wrapper h4 {
        font-size: 14px;
    }


    .copyright p {
        width: unset;
        padding-left: unset;
    }

    .copyright-logo-wrapper {
        padding-left: unset;
    }

    .copyright {
        height: 143px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

}